node_modules/
.env
.env.local
.env.*
.env.example
!.env.local.example
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/
build/

# Misc
coverage/
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/
